@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Heebo", sans-serif;
}

.containar {
    margin: 0 auto;
    max-width: 1300px;
}

.d-flex {
    display: flex;
}


img {
    width: 100%;
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
}

i {
    display: inline-block;
}


ul li {
    list-style: none;
    display: block;
}

.justify-conten-between{
    justify-content: space-between;
}

.align-item-center{
    align-items: center;
}

.justify-conten-center{
    justify-content: center;
}



.row {
    display: flex;
    flex-wrap: wrap;
}

:root {
    --orange-800: #FEA116;
    --orange-700: rgb(242, 178, 58);
    --white: white;
    --gray: #666565;
    --gray-600: #cbcbcb;
    --bule-800:#0F172B;
}

:root {
    --heebo: "Heebo", sans-seri;
    --pacifico: "Pacifico", cursive;
    --nunito: "Nunito", sans-serif;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.h-100 {
    height: 100%;
}


